.navList {
    margin-bottom: 0px;
    list-style-type:none;
}
.topNavItems {
    padding: 0px;
    color: white;
    font-size: 1rem;
}
.searchHeightLocation3 {
    display: block;
    font-size: 1rem;
    background-repeat: no-repeat;
    background-position: 135px 2px;
    padding: 5px 5px 5px 5px;
    margin: 0px 5px;
    border-color: lightgray;
    background-color: royalblue;
    color: white;
}
.itemNavigationFooter {
    display: flex;
    padding: 10px 10px 0px 10px;
    justify-content: center;
    position: relative;
}
.navList {
    margin-bottom: 0px;
    list-style-type:none;
}
li.bottomNavItems  {
    padding: 0px;
    color: white;
    font-size: 1.7rem;
    padding: 10px 20px;
} 