.container-fluid {
    font-size: 1rem;
}
.card-row{
    padding: 15px;
}
.box1 {
    padding: 10px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    background: #dbdfe5;
}
.card2 {
    padding: 25px 0px;
}
.hdr-blue {
    color: royalblue;
    height: 6rem;
    font-size: 1.6rem;
}
.card-text1 {
    font-size: 2rem;
    font-weight: bold;
    
}
.card-body-lg {
    height: 12rem; 
} 