body {
    font-family: sans-serif;
    margin: 0px,
}
.main {

    background-color: white;
    margin: 0px 0px;
    padding: 0px;
    position: relative;
}
.header {
    display: flex;
    padding: 0px 10px;
    background-color: royalblue;
    position: relative;
}
.mainNav {
    display: block;
}
.logoTIM {
    display: inline-block;
}
.logoTIMText {
    color: white;
    font-size: 2rem;
}
.logoTamImage {
    display: inline-block;
    margin: 10px;
}
.itemNavigation {
    display: flex;
    padding: 10px 10px 0px 10px;
}
.navList {
    margin-bottom: 0px;
    list-style-type:none;
}
.topNavItems {
    padding: 0px;
    color: white;
    font-size: 1.3rem;
}
.itemNavigation li {
    display: inline-block;
    padding: 1rem 2rem;
    padding: 10px;
}
ul.navList {
    margin: 0px;
    padding: 0px;
}
.itemNavigationtop {
    display: flex;
    padding: 10px 10px 0px 10px;
    flex-direction: row-reverse;
    width: 1200px;
}
.itemNavigationtop li {
    display: inline-block;
    padding: 1rem 2rem;
    padding: 10px 10px;
}
li.bottomNavItems  {
    padding: 0px;
    color: white;
    font-size: 1.7rem;
    padding: 10px 20px;
}
.searchBox div {
    display: block;
    justify-content: space-between;
    color: grey;
}
#searchHeight {
    display: block;
    font-size: 1.2rem;
    background-image: url(loop-s.png);
    background-repeat: no-repeat;
    background-position: 135px 2px;
    padding: 5px 5px 5px 5px;
    margin: 0px 0px;
    border-color: lightgray;
}
li.topNavItemsLanguage {
    padding: 0px;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-color: white;
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
    padding: 4px;
    text-decoration: underline;
}
.navLink {
    color: white;
    text-decoration: none;
}
a:hover {
    color: gold;
    text-decoration: underline;
}
.active, .collapsible:hover {
    background-color: royalblue;
    color: gold;
    text-decoration: underline;
  }
  .active:after {
    content: "\2212";
  }
li.collapsible {
    display: inline-block;
    background-color: royalblue;
    color: white;
    cursor: pointer;
    width: 154px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-size: 1.7rem;
    padding: 10px 20px;
    display: inline-flexbox;
  }
.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    margin-left: 5px;
    display: inline-block;
  }
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: royalblue;
    color: gold;
    display: block;
    font-size: 1.5rem;
  } 